<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amankumar.huest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login.LogInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.GuestSignUpActivity"
            android:label="@string/title_activity_sinup"
            android:parentActivityName=".Login.GuestOrHostActivity" >
        </activity>
        <activity
            android:name=".Login.GuestOrHostActivity"
            android:label="@string/title_activity_guest_or_host"
            android:parentActivityName=".Login.LogInActivity" >
        </activity>
        <activity
            android:name=".UI.GuestActivity"
            android:label="@string/title_activity_guest" >
        </activity>
        <activity
            android:name=".Login.HostSignUpActivity"
            android:label="@string/title_activity_host_sign_up" >
        </activity>
        <activity
            android:name=".UI.HostActivity"
            android:label="@string/title_activity_host" >
        </activity>
        <activity
            android:name=".UI.HostDetail_Activity"
            android:label="@string/title_activity_host_detail_" >
        </activity>
    </application>

</manifest>
